<h2 id="buttons">Buttons</h2>
<button class="btn btn-light">button</button>
<button class="btn btn-main">button-main</button>
<button class="btn btn-success">button-success</button>
<button class="btn btn-warning">button-warning</button>
<button class="btn btn-main btn-big">button-big</button>
<button class="btn btn-main btn-small">button-small</button>
<button class="btn btn-main btn-badge">16</button>
<button class="btn btn-main btn-block">btn-block</button>
<div class="btns">
  <button class="btn">photos</button>
  <button class="btn">musics</button>
  <button class="btn">videos</button>
</div>

<pre>
  <code>
    &lt; &gt;
  </code>
</pre>
