<h2 id="forms">Forms</h2>
<form class="form" action="index.html" method="post">
  <input class="form-item form-input" type="text" name="" value="">
  <input class="form-item form-input" type="password" name="" value="">
  <button class="form-item btn btn-main" type="button" name="button">Submit</button>
</form>

<form class="form-inline" action="index.html" method="post">
  <input class="form-item form-input" type="text" name="" value="">
  <input class="form-item form-input" type="password" name="" value="">
  <button class="form-item btn btn-main" type="button" name="button">Submit</button>
</form>

<pre>
  <code>
    &lt; &gt;
  </code>
</pre>
