<header id="header">
  <h1><a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a></h1>
  <nav id="nav">
    <button id="btn-menu">三</button>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
        <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
