<h2 id="layouts">Layouts</h2>
<h3>Layout1</h3>
<header class="header">
  <div class="container flex-between">
    <h1><a href="#" id="logo">Logo</a></h1>
    <nav class="nav">
      <ul class="menu flex-end">
        <li><a href="#home" title="home">home</a></li>
        <li><a href="#about" title="about">about</a></li>
        <li><a href="#services" title="services">services</a></li>
        <li><a href="#contact" title="contact">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="content">
  <div class="container">
    <div class="blank"></div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p>Copyright &copy 2019</p>
  </div>
</footer>

<pre>
  <code>
    &lt; &gt;
  </code>
</pre>
