<h2 id="menus">Menus</h2>
<ul class="menu flex-start">
  <li class="active"><a href="#home" title="home">home</a></li>
  <li><a href="#about" title="about">about</a></li>
  <li><a href="#services" title="services">services</a></li>
  <li><a href="#contact" title="contact">contact</a></li>
</ul>

<ul class="menu flex-end">
  <li class="active"><a href="#home" title="home">home</a></li>
  <li><a href="#about" title="about">about</a></li>
  <li><a href="#services" title="services">services</a></li>
  <li><a href="#contact" title="contact">contact</a></li>
</ul>

<ul class="menu flex-evenly">
  <li class="active"><a href="#home" title="home">home</a></li>
  <li><a href="#about" title="about">about</a></li>
  <li class="has-submenu">
    <a href="#services" title="services">services</a>
    <ul class="submenu">
      <li><a href="#">item1</a></li>
      <li><a href="#">item2</a></li>
      <li><a href="#">item3</a></li>
    </ul>
  </li>
  <li><a href="#contact" title="contact">contact</a></li>
</ul>

<pre>
  <code>
    &lt; &gt;
  </code>
</pre>
